.general {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    background-color: #34353a;
  }
  
  .title-content {
    display: flex;
    flex-direction: row;
  }
  
  .title1 {
    color: wheat;
  }
  
  .title2 {
    color: #f0bf6c;
  }
  
  .position {
    /* align-content: flex-start; */
    color: white;
  }
  
  .contactme {
    margin-top: 10px;
    width: 100px;
    text-align: center;
    border-width: 2px;
    border-color: #f0bf6c;
    border-style: solid;
    color: #f0bf6c;
    font-weight: bold;
  }
  
  .skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .chip {
    display: flex;
    flex-direction: column;
    height: 150px;
    width: 130px;
    /* background-color: red; */
    background-color: #3d3e42;
    /* align-items: center; */
    text-align: center;
    margin-bottom: 20px;
    padding-top: 10px;
    color: white;
    border-radius: 30px;
  }
  